.conversation {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  min-width: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(60,60,60);
  padding: 10px 15px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}

.profileImage {
  background-color: blanchedalmond;
  height: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  background-color: rgb(60,60,60);
}

.icon {
  height: 30px;
  fill: white;
}

.texts {
  flex: 1;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
  overflow-y: auto;
}

.texts::-webkit-scrollbar {
  background-color: rgb(60,60,60);
  border-radius: 20px;
  width: 10px;
}

.texts::-webkit-scrollbar-thumb {
  background: #888; /* Dark gray thumb */
  border-radius: 10px;
}

.textLeft {
  min-width: 0;
  max-width: 80%;
  margin-right: auto;
  background-color: rgb(36, 90, 207);
  padding: 5px 10px;
  border-radius: 10px;
}

.textRight {
  min-width: 0;
  max-width: 80%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* text-align: end; */
  background-color: rgb(59, 100, 71);
  padding: 5px 10px;
  border-radius: 10px;
}

.time {
  font-size: 0;
  text-align: end;
}

.textRight:hover .time,
.textLeft:hover .time {
  font-size: 0.8rem;
}

.bottom {
  display: flex;
  justify-content: center;
}

.bar {
  width: 90%;
  max-width: 1000px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0 15px;
  background-color: rgb(60,60,60);
  border-radius: 20px;
}

.input {
  flex: 1;
  background-color: rgb(60,60,60);
  border: none;
  font-size: 1.1rem;
  color: white;
}

.iconBottom {
  height: 20px;
  fill: white;
}