.findPeople {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.subTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

.input {
  background-color: rgb(60,60,60);
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  font-size: 1.2rem;
  caret-color: white;
  color: white;
  margin: 0px 20px;
  margin-bottom: 10px;
}

.input::placeholder {
  color: rgb(200,200,200)
}

.peopleList {
  min-width: 0;
  margin: 0 25px;
  overflow-y: auto;
  flex: 1;
}

.peopleList::-webkit-scrollbar {
  background-color: rgb(60,60,60);
  border-radius: 20px;
  width: 10px;
}

.peopleList::-webkit-scrollbar-thumb {
  background: #888; /* Dark gray thumb */
  border-radius: 10px;
}

.person {
  list-style-type: none;
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-bottom: 1px solid white;
}

.personHighlight {
  background-color: rgb(75,75,75);
}

.profileImage {
  height: 75px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: bisque;
}

.name {
  font-size: 1.75rem;
}

.displaySelected {
  margin: 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  min-width: 0px;
}

.displaySelectedHidden {
  display: none;
}

.usersSelectedTitle {
  font-weight: bold;
}

.createConversation {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .subTitle {
    font-size: 2rem;
  }

  .input {
    font-size: 1rem;
  }

  .peopleList {
    margin: 15px;
  }

  .profileImage {
    height: 50px;
  }

  .name {
    font-size: 1.3rem;
  }

  .displaySelected {
    margin: 25px 15px;
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .name, .displaySelected, .createConversation {
    font-size: 1rem;
  }
}