.greetingBox {
  padding-top: 25px;
  padding-left: 25px;
}

@media (max-width: 1100px) {
  .title {
    font-size: 2.5rem;
  }

  .welcomeMessage {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .greetingBox {
    padding-left: 15px;
  }
}

