.home {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 6fr;
  height: 100%;
  /* padding: 25px; */
  /* max-width: 1200px;
  min-width: 1200px; */
  background-color: rgb(40,40,40);
  color: white;
  gap: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 20px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.main {
  grid-row: 1 / -1;
  grid-column: 2;
  border-left: 2px solid rgb(200,200,200);
}