.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(60,60,60);
  padding: 10px 15px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}

.profileImage {
  background-color: blanchedalmond;
  height: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  background-color: rgb(60,60,60);
}

.icon {
  height: 30px;
  fill: white;
}