.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(60,60,60);
  padding: 10px 15px;
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}

.profileImage {
  background-color: blanchedalmond;
  height: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.conversationName {
  background: none;
  border: none;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  text-overflow: ellipsis;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  background-color: rgb(60,60,60);
  display: grid;
  place-items: center;
}

.icon {
  height: 30px;
  fill: white;
}

.participants {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: inherit;
  right: 0;
  top: 80px;
  border-top: 2px solid white;
}

.participantTitle {
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 10px;
}

.participant {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid white;
}

.participantName {
  text-overflow: ellipsis;
  font-size: 1.5rem;
}

.participantImage {

}

@media (max-width: 768px) {
  .participants {
    top: 70px;
  }

  .profileImage {
    height: 50px;
  }

  .conversationName {
    font-size: 1.5rem;
    min-width: 100px;
  }

  .participantTitle {
    font-size: 1.4rem;
  }

  .participantName {
    font-size: 1.3rem;
  }

  .button {
    width: 50px;
  }
}

@media (max-width: 400px) {
  .profile {
    gap: 10px;
  }

  .profileImage {
    height: 40px;
  }

  .conversationName {
    font-size: 1.3rem;
  }

  .participantTitle {
    font-size: 1.1rem;
  }

  .participantName {
    font-size: 1rem;
  }

  .button {
    width: 40px;
  }
}