.texts {
  flex: 1;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
  overflow-y: auto;
}

.texts::-webkit-scrollbar {
  background-color: rgb(60,60,60);
  border-radius: 20px;
  width: 10px;
}

.texts::-webkit-scrollbar-thumb {
  background: #888; /* Dark gray thumb */
  border-radius: 10px;
}

.textLeft {
  min-width: 0;
  max-width: 80%;
  margin-right: auto;
  background-color: rgb(36, 90, 207);
  padding: 5px 10px;
  border-radius: 10px;
}

.textRight {
  min-width: 0;
  max-width: 80%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: rgb(59, 100, 71);
  padding: 5px 10px;
  border-radius: 10px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.time {
  font-size: 0;
  text-align: end;
}

.textRight:hover .time,
.textLeft:hover .time {
  font-size: 0.8rem;
}


@media (max-width: 400px) {
  .textLeft, .textRight {
    font-size: 0.9rem;
  }

  .textRight:hover .time,
  .textLeft:hover .time {
    font-size: 0.7rem;
  }
}