.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(60,60,60);
  padding: 10px 15px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}

.profileImage {
  background-color: blanchedalmond;
  height: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.username {
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  background-color: rgb(60,60,60);
  display: grid;
  place-items: center;
}

.icon {
  height: 30px;
  fill: white;
}

@media (max-width: 768px) {
  .profileImage {
    height: 50px;
  }

  .username {
    font-size: 1.5rem;
    min-width: 100px;
  }

  .button {
    width: 50px;
  }
}

@media (max-width: 400px) {
  .profile {
    gap: 10px;
  }

  .profileImage {
    height: 40px;
  }

  .username {
    font-size: 1.3rem;
  }

  .button {
    width: 40px;
  }
}