.config {
  display: flex;
  padding: 10px;
  background-color: rgb(75,75,75);
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.yourProfileImage {
  background-color: blanchedalmond;
  height: 75px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.settings {
  justify-self: end;
  background-color: rgb(75,75,75);
  padding: 5px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gear {
  height: 40px;
  aspect-ratio: 1 / 1;
  fill: white;

}

@media (max-width: 1100px) {
  .yourProfileImage {
    height: 50px;
  }

  .username {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .config {
    margin-right: 15px;
  }
}